.venv/
__pycache__/
*.pyc
.cache/
.local/
.nv/
.copilot/
.dotnet/

.bash_logout
.bashrc
.profile
.wget-hsts

lichess_elite_dataset/
tokenized_data/

chess_alphazero_model/
chess_alphazero_model_2M/
chess_model_5M/
chess_model_100k/
chess_model_checkpoints/
chess_model_checkpoints_5M/
*.pt
*.bin
*.pth

stockfish_engine/

slurm-*.out
.vscode-server/
.vscode/