.venv/
__pycache__/
*.pyc
.cache/
.local/
.nv/
.copilot/
.dotnet/


lichess_elite_dataset/
tokenized_data/

chess_alphazero_model/
chess_alphazero_model_2M/
chess_model_5M/
chess_model_100k/
chess_model_checkpoints/
chess_model_checkpoints_5M/
*.pt
*.bin
*.pth

stockfish_engine/

# 5. Slurm 运行日志与 IDE 缓存
slurm-*.out
.vscode-server/
.vscode/